@import '../../mq';

@media #{$tabletPortrait} {
  @import '../mobile';

  & {
    .head-rating {
      display: flex;
       svg {
      margin-bottom: 0;
    }
      .rating-text {
        margin-left: 6px;
        margin-right: 10px;
      }
    }
    .is_more-item {
      margin-left: auto;
      margin-right: auto;
    }
    .buyers-slider .item {
      padding-left: 15px;
      padding-right: 15px;
       p {
      br {
        display: none;
      }
    }
    }
  }
}